/*#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #30323D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}*/

body {
    background-color: #F8FCDA;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card {
  background-color: #F8FCDA;
  border: 3;
  border-color: #76323F;
  padding-top: 2px;
}

h1 {
  color: #76323F;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  color: #553B08;
  vertical-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #553B08;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #553B08;
  font-family: 'Open Sans', sans-serif;
}

#header-image {
  width: 50%;
  height: 50%;
}

#search-bar {
  width: 400px;

.link {
  color: #76323F;
}