{% extends 'base.html' %}


{% block title %}About{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <p> ReadSing was built by Andrea Krehbiel as an independent project at <a href="https://hackbrightacademy.com/">Hackbright Academy.</a></p>

        <p>ReadSing uses the <a href="https://www.goodreads.com">Goodreads</a>, <a href="https://www.spotify.com">Spotify</a>, and <a href="https://market.mashape.com/proxem/key-terms-extraction">Proxem Key Term Extraction</a> APIs. </p>

        <p>Check out the source code on <a href="https://github.com/Andeleisha/hackbright-project-readsing">Github</a>.</p>
    </div>
</div>     
{% endblock %}