<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/project.css" >
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #76323F;">
        <a class="navbar-brand" href="/">ReadSing</a>
        <span class="navbar-nav">
            <a class="nav-item nav-link" href="/">Search for Book</a>
            <a class="nav-item nav-link" href="/about">About</a>
        </span>
    </nav>
</div>
<div class="container">
    
    <div class="row">
        <div class="col center">
            <br>
            <br>
            <h1>ReadSing</h1>
            <h2>Recommended Playlists for Whatever You're Reading</h2>
            <br>
            <br>
        </div>
    </div>
    {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
    {% endblock %}
<div class="row center">
    <br>
    <p>Project by Andrea Krehbiel Sep 2018</p>
    <br>
</div>    
</div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>