{% extends 'base.html' %}


{% block title %}Homepage{% endblock %}

{% block body %}
  You are awesome, Andrea! 
<br>
<br>
Let's search for some books. 
<br>
<br>
<form action="/interim-search" method="POST">
    Search:<input type="text" name="bookstuff">
    <input type="submit" value="Search for a book!">
</form>

<div id="root">Book results will appear here.</div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="http://unpkg.com/babel-standalone"></script>
<script src="/static/index.jsx" type="text/jsx"></script>
    
{% endblock %}