{% extends 'base.html' %}


{% block title %}ReadSing{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6 offset-3">
        <br>
        <br>
        <h1>ReadSing</h1>
        <br>
        <br>
    </div>
</div>

<div class="row">
    <img id="header-image" src="/static/magic-book.jpg">
</div>

<div class="row">
    <br>
    <div id="root">Book results will appear here.</div>
</div>


<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<script src="http://unpkg.com/babel-standalone"></script>
<script src="/static/index.jsx" type="text/jsx"></script>


    
{% endblock %}