{% extends 'base.html' %}


{% block title %}Search{% endblock %}

{% block body %}
<script src="http://code.jquery.com/jquery.js"></script>
  Andy is gettin shit done!! 
  <br>
  <br>
  You searched for:
  <br>
  <img src={{ book.sm_image }} id="bookcover">
  <h2 id="bookname">{{ book.name }}</h2>
  <h3 id="bookauthor">{{ book.author }}</h3>
  <p id=bookdescription>{{ book.description }}</p>
<input id=bookid type=hidden value={{ book.book_id }}>
<input id=grid type=hidden value={{ book.gr_id }}>
<br>
<br>
<div id="searchresults">
Loading results
</div>

<script src="../static/get-playlists.js"></script>
    
{% endblock %}