{% extends 'base.html' %}


{% block title %}Search{% endblock %}

{% block body %}
<script src="http://code.jquery.com/jquery.js"></script>
<div class="row">
    <div id="bookSearched" class="card flex-row flex-wrap">
        
        <div class="col-auto">
            <div className="card-header border-0">
                    <img id="bookCover" src={{ book.image }} />
            </div>
        </div>

        <div class="col">
            <div className="card-block px-2">
                <h5 id="bookname">{{ book.name }}</h5>
                <h5 id="bookauthor">by {{ book.author }}</h5>
                <p id=bookdescription>{{ book.description }}</p>
                <input id=bookid type=hidden value={{ book.book_id }}>
                <input id=grid type=hidden value={{ book.gr_id }}>
            </div>
        </div>   
    </div>
</div>

<div id="searchresults">
    <div id="loader">
        Loading results
    </div>
</div>

<script src="../static/get-playlists.js"></script>
    
{% endblock %}