{% extends 'base.html' %}


{% block title %}Search{% endblock %}

{% block body %}
  Andy is gettin shit done!! 
  <br>
  <br>
  You searched for:
  <br>
  <img src={{ book.sm_image }} id="bookcover">
  <h2>{{ book.name }}</h2>
  {{ book.description }}
  {{ book.author }}
<br>
<br>
{% for playlist in sorted_playlists %}
    <img src={{ playlist["image"]}} id="playlistcover" style="width:300px;height:300px;">
    {{ playlist["name"] }}
    <a href={{ playlist["link"] }} target="_blank">Open in Spotify</a>
    <br>
{% endfor %}
    
{% endblock %}